<div class="flex flex-col justify-between ">

    <div class="h-[5%]">
        <div class="font-bold p-3 " >
            <p> {{ emisor.nombre_completo }} </p>
            <p> {{ emisor.correo }} </p>
        </div>
    </div>

    <div class=" flex-1 h-full" >

        <div *ngIf="banderaCargaDatos">
            <p-progressSpinner ariaLabel="cargando..." />
        </div>

        <div *ngIf="banderaCargaDatos == false " >


          <p-virtualScroller [value]="listadoPreguntas" class="border-1 surface-border border-round" [style]="{'width': '100%'}" scrollHeight="60vh" [itemSize]="300">
            <ng-template pTemplate="item" let-pregunta>
                <!-- Para preguntas tipo 'botones' -->
                <div *ngIf="pregunta.pregunta.tipo === 'botones'" class="flex align-items-center p-2" [ngClass]="{'surface-hover': pregunta.index % 2 === 0}">
                    <p class="text-lg font-semibold">{{ pregunta.pregunta.pregunta }}</p>
                    <div class="flex flex-wrap gap-2 mt-2 items-center">
                        <div *ngFor="let opcion of pregunta.pregunta.opciones">
                            <button type="button" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">
                                {{ opcion.texto }}
                            </button>
                        </div>
                    </div>

                    <ng-template #EspacioCompletar>

                      <div *ngIf="pregunta.pregunta.tipo == 'completa'; else EspacioEscribir">

                        <p class="text-lg font-semibold">{{ pregunta.pregunta.pregunta }}</p>
                        <p class="text-lg font-semibold">{{ pregunta.pregunta.respuestaCorrecta }}</p>
                        <p class="text-lg font-semibold">{{ pregunta.pregunta.respuestaIntroducida }}</p>
                      </div>

                    </ng-template>

                    <ng-template #EspacioEscribir>

                    </ng-template>

                    <div class="border border-blue-300 p-3 flex items-center justify-center">
                        <div class="h-6 w-6 rounded-full mr-4" [ngClass]="{'bg-green-500': pregunta.opcion.correcta, 'bg-red-500': !pregunta.opcion.correcta}"></div>
                        <span>{{ pregunta.opcion.texto }}</span>
                    </div>
                </div>
        
                <!-- Para preguntas tipo 'link' -->
                <div *ngIf="pregunta.pregunta.tipo === 'link'" class="text-lg font-semibold p-2">
                  <p>Respuesta del estudiante:</p>
                  <!-- Asumiendo que 'pregunta.respuesta' contiene la URL de la imagen -->
                  <img [src]="pregunta.respuesta" alt="Respuesta del estudiante" class="max-w-full h-auto">
              </div>
            </ng-template>
          </p-virtualScroller>
            
        </div>

    </div>

    <div class="h-[5%]">

        <form [formGroup]="evaluacionForm" (ngSubmit)="ActualizarNota()" class="w-full h-20 flex flex-row justify-between items-center ">

            <!--  Correo electronico -->
              <div class="p-field mb-3">
  
                <div class="p-inputgroup">

                  <span class="p-inputgroup-addon bg-white border ">
                    <i class="pi pi-extra text-blue-500"></i>
                  </span>

                  <span class="p-float-label">
                    <input #ponderacion pInputText  placeholder=""  formControlName="ponderacion"  class="pl-[10px] border border-blue-500 focus:border-blue-600 focus:ring-0"  />
                    <label for="ponderacion">nota</label>
                  </span>

                  <span class="p-inputgroup-addon bg-white ">
                    <i class="pi pi-extra text-blue-500"></i>
                  </span>

                </div>
  
              </div>
            <!--  -->

      
            <!-- Botón actualizar nota -->
              <div class="p-d-flex p-jc-between w-1/4">
                <button (click)="ActualizarNota()" class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                  Actualizar
                </button>
              </div>
            <!--  -->

          </form>

    </div>

</div>