/* Contenedor principal */
.div-principal {
  display: flex;
  flex-direction: column;
  max-height: 40vh; /* Tamaño máximo en pantallas grandes */
  overflow-y: auto; /* Permite desplazamiento vertical si es necesario */
}

/* Contenedor para la lista de preguntas */
.preguntas-container {
  flex: 1;
  overflow-y: auto;
  max-height: 70%; /* Ajusta según el espacio disponible */
}

/* Contenedor para la pizarra y demás elementos */
.signature-pad {
  border: 2px solid #000;
  margin: 0 auto;
  max-width: 100%;
}

/* Botones alineados correctamente */
button {
  margin: 10px;
}

/* Ajustes para pantallas extra grandes */
@media (min-width: 2440px) {
  .div-principal {
    max-height: 50vh; /* Tamaño máximo en pantallas extra grandes */
  }
}

/* Ajustes para pantallas grandes */
@media (max-width: 1440px) {
  .div-principal {
    max-height: 40vh; /* Tamaño máximo en pantallas grandes */
  }
}

/* Ajustes para pantallas medianas */
@media (max-width: 1200px) {
  .div-principal {
    max-height: 30vh; /* Tamaño máximo en pantallas medianas */
  }
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .div-principal {
    max-height: 20vh; /* Tamaño máximo en pantallas pequeñas */
  }
}

/* Ajustes para pantallas muy pequeñas */
@media (max-width: 480px) {
  .div-principal {
    max-height: 80vh; /* Tamaño máximo en pantallas pequeñas */
  }
  .signature-pad {
    width: 100%; /* Asegura que el canvas se ajuste completamente a pantallas pequeñas */
    height: auto;
  }

  button {
    width: 100%; /* Botones más grandes y adaptados al ancho de la pantalla */
  }
}